<p style="color: green"><%= notice %></p>

<h1>Interviews</h1>

<div id="interviews">
  <% @interviews.each do |interview| %>
    <%= render interview %>
    <%= link_to "Edit", edit_for_candidate_interviews_path(interview, interview.candidate) %>
  <% end %>
</div>

<%= link_to "New interview", schedule_for_candidate_interviews_path(@interviews.first.candidate) %>
